@{
	ViewBag.Title = "命令執行頁面";
}

<h2>Command Execution</h2>

<table class="table">
	<tr>
		<th>命令列</th>
		<th>男生</th>
		<th>女生</th>
	</tr>
	<tr>
		<th>命令一</th>
		<td><input type="button" title="Delete" value="指令 - 男1" onclick="location.href='@Url.Action("Male1", "Voting", null)'" /></td>
		<td><input type="button" title="Delete" value="指令 - 男2" onclick="location.href='@Url.Action("Male1", "Voting", null)'" /></td>
	</tr>
	<tr>
		<th>命令二</th>
		<td><input type="button" title="Delete" value="指令 - 男2" onclick="location.href='@Url.Action("Male1", "Voting", null)'" /></td>
		<td><input type="button" title="Delete" value="指令 - 女2" onclick="location.href='@Url.Action("Male1", "Voting", null)'" /></td>
	</tr>
	<tr>
		<th>命令三</th>
		<td><input type="button" title="Delete" value="指令 - 男3" onclick="location.href='@Url.Action("Male1", "Voting", null)'" /></td>
		<td><input type="button" title="Delete" value="指令 - 女3" onclick="location.href='@Url.Action("Male1", "Voting", null)'" /></td>
	</tr>
	<tr>
		<th>命令四</th>
		<td><input type="button" title="Delete" value="指令 - 男4" onclick="location.href='@Url.Action("Male1", "Voting", null)'" /></td>
		<td><input type="button" title="Delete" value="指令 - 女4" onclick="location.href='@Url.Action("Male1", "Voting", null)'" /></td>
	</tr>
	<tr>
		<th>命令五</th>
		<td><input type="button" title="Delete" value="指令 - 男5" onclick="location.href='@Url.Action("Male1", "Voting", null)'" /></td>
		<td><input type="button" title="Delete" value="指令 - 女5" onclick="location.href='@Url.Action("Male1", "Voting", null)'" /></td>
	</tr>
</table>


