@model iVoting.Models.VotingModel

@{
	ViewBag.Title = "我要投票";
	Layout = "CreateWithouHF.cshtml";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div id="content">
		<input type="radio" id="gen1" name="Gender" value="0" checked />
		<input type="radio" id="gen2" name="Gender" value="1" />
		<input type="radio" id="fel1" name="Emotion" value="0" checked />
		<input type="radio" id="fel2" name="Emotion" value="1" />
		<input type="radio" id="fel3" name="Emotion" value="2" />
		<input type="radio" id="fel4" name="Emotion" value="3" />
		<button type="submit" id="submit">submit</button>
	</div>

	@*<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true)
		<div class="form-group">
			@Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.RadioButtonListForEnum(model => model.Gender, null, false, null, RepeatDirections.Vertical)
				@Html.ValidationMessageFor(model => model.Gender)
			</div>
		</div>

		<div class="form-group">
			@Html.Label("我現在感覺", new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.RadioButtonListForEnum(model => model.Emotion, null, false, null, RepeatDirections.Vertical)
				@Html.ValidationMessageFor(model => model.Emotion)
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="投票" class="btn btn-default" />
			</div>
		</div>
	</div>*@
}


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
