@model iVoting.Models.VotingModel

@{
	ViewBag.Title = "票數編輯";
}

<h2>票數編輯</h2>



@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.ID)

		<div class="form-group">
			@Html.LabelFor(model => model.VotingDate, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.VotingDate)
				@Html.ValidationMessageFor(model => model.VotingDate)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Gender)
				@Html.ValidationMessageFor(model => model.Gender)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Exciting, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Exciting)
				@Html.ValidationMessageFor(model => model.Exciting)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Happy, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Happy)
				@Html.ValidationMessageFor(model => model.Happy)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Sad, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Sad)
				@Html.ValidationMessageFor(model => model.Sad)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Upset, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Upset)
				@Html.ValidationMessageFor(model => model.Upset)
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
