@{
	ViewBag.Title = "命令執行頁面";
}

<h2>Command Execution</h2>

<table class="table">
	<tr>
		<th>命令列</th>
		<th>男生</th>
		<th>女生</th>
	</tr>
	<tr>
		<th>命令一</th>
		<td><input type="button" value="指令 - 男(很興奮)" onclick="location.href='@Url.Action("ExecuteConsole/0 0", "CommandExecution")'" /></td>
		<td><input type="button" title="Delete" value="指令 - 女(很興奮)" onclick="location.href='@Url.Action("ExecuteConsole/1 0", "CommandExecution")'" /></td>
	</tr>
	<tr>
		<th>命令二</th>
		<td><input type="button" title="Delete" value="指令 - 男(好開心)" onclick="location.href='@Url.Action("ExecuteConsole/0 1", "CommandExecution")'" /></td>
		<td><input type="button" title="Delete" value="指令 - 女(好開心)" onclick="location.href='@Url.Action("ExecuteConsole/1 1", "CommandExecution")'" /></td>
	</tr>
	<tr>
		<th>命令三</th>
		<td><input type="button" title="Delete" value="指令 - 男(很難過)" onclick="location.href='@Url.Action("ExecuteConsole/0 2", "CommandExecution")'" /></td>
		<td><input type="button" title="Delete" value="指令 - 女(很難過)" onclick="location.href='@Url.Action("ExecuteConsole/1 2", "CommandExecution")'" /></td>
	</tr>
	<tr>
		<th>命令四</th>
		<td><input type="button" title="Delete" value="指令 - 男(好生氣)" onclick="location.href='@Url.Action("ExecuteConsole/0 3", "CommandExecution")'" /></td>
		<td><input type="button" title="Delete" value="指令 - 女(好生氣)" onclick="location.href='@Url.Action("ExecuteConsole/1 3", "CommandExecution")'" /></td>
	</tr>
	<tr>
		<th>命令五</th>
		<td><input type="button" title="Delete" value="指令 - 男(Normal)" onclick="location.href='@Url.Action("ExecuteConsole/0 4", "CommandExecution")'" /></td>
		<td><input type="button" title="Delete" value="指令 - 女(Normal)" onclick="location.href='@Url.Action("ExecuteConsole/0 4", "CommandExecution")'" /></td>
	</tr>
</table>


