@model IEnumerable<iVoting.Models.VotingModel>

@{
	ViewBag.Title = "票數統計";
}

<h2>票數統計頁面</h2>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.VotingDate)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Gender)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Exciting)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Happy)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Sad)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Upset)
		</th>
		<th>
			功能列表
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.VotingDate)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Gender)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Exciting)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Happy)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Sad)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Upset)
			</td>
			<td>
				@Html.ActionLink("編輯", "Edit", new { id = item.ID }) |
				@Html.ActionLink("詳細內容", "Details", new { id = item.ID }) |
				@*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
			</td>
		</tr>
	}
</table>